<div class="home">
    <header class="header">
        <div class="brand">
            Users Manager
        </div>
        <nav class="nav">
            <div class="nav-item user"  *ngIf="authService.currentUserValue.username"
                >
                {{ authService.currentUserValue.username }}
                &nbsp; <sup *ngIf="isAuth">(Super User)</sup>
            </div>
            <div (click)="logout()" class="nav-item logout">
                <fa-icon [icon]="faPowerOff"></fa-icon>
            </div>
        </nav>
    </header>

    <section class="container">
       
        <div class="users" *ngIf="isAuth">
                <div class="nav">
                        <a routerLink="users" routerLinkActive="nav-item-active" class="nav-item">Users</a>
                        <a routerLink="add" routerLinkActive="nav-item-active" class="nav-item">Add</a>
                </div>

                <div class="content">
                    <router-outlet></router-outlet>
                </div>
        </div>
        <div class="users" *ngIf="!isAuth">
                

                <div class="content">
                    Sorry ! you are not a super user !
                </div>
        </div>
    </section>
</div>