<div class="home">
    <header class="header">
        <div class="brand">
            Users Manager
        </div>
        <nav class="nav" *ngIf="authService.currentUserValue.username">
            <div class="nav-item user"
                >
                {{ authService.currentUserValue.username }}
            </div>
            <div (click)="logout()" class="nav-item btn btn-red">
                Logout
            </div>
        </nav>
    </header>

    <section class="container">
       hello {{authService.currentUserValue.username}}
    </section>
</div>