
<div class="new" *ngIf="!submitted">
       
    <form class="form">
      <div class="group">
        <label for="email">Username</label>
        <input type="email" name="username" [(ngModel)]="user.username"/>
      </div>
      <div *ngIf="errors.username" class="invalid-feedback">
        {{errors.username}}
    </div>
      <div class="group">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="user.email"/>
      </div>
      <div *ngIf="errors.email" class="invalid-feedback">
        {{errors.email}}
    </div>
      <div class="group">
          <label for="First name">First name</label>
          <input type="text" name="first_name" [(ngModel)]="user.first_name"/>
        </div>
        <div *ngIf="errors.first_name" class="invalid-feedback">
        {{errors.first_name}}
    </div>
    <div class="group">
          <label for="Last name">Last name</label>
          <input type="text" name="last_name" [(ngModel)]="user.last_name"/>
        </div>
        <div *ngIf="errors.last_name" class="invalid-feedback">
        {{errors.last_name}}
    </div>
    <div class="group">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="user.password"/>
      </div>
      <div *ngIf="errors.password" class="invalid-feedback">
        {{errors.password}}
    </div>
      
    </form>

    
    <div class="param">

      <button class="btn btn-red"  (click)="create()">   Create  </button>
    </div>

    
  </div>
<div class="add" *ngIf="submitted">
    User {{ user.username }} has been created successfully
</div>
