.current {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.current .form {
    width: 100%;
    /* padding: 1rem; */
}

.current .form .group {
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
}

.current .form label {
    flex: 0 1 35%;
    margin: 0.2rem 0;
    font-weight: 500;
}
.current .form input {
    flex: 0 1 60%;
    margin: 0.2rem 0;
    padding: 0.2rem 0.5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 1rem;
    transition: all 0.1 ease;
    border-radius: 4px;
}
.current .form input.checkbox {
    flex: unset;
    padding: 0.2rem;
    cursor: pointer;
}

.current .form input:focus {
    /* border: 1px solid rgb(73, 73, 73); */
        border: 1px solid #2B3F56;

    /* box-shadow: 0 0 0.1rem 0.05rem rgb(73, 73, 73); */

}

.current .param {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}
.current .param > *:not(:last-child) {
    margin-right: 0.5rem;
}
.group .link {
    color: rgb(0, 102, 255);
    cursor: pointer;
}