<div class="container">
  

<div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" value="0" name="slide" id="login"  checked />
          <input type="radio" value="1" name="slide"  id="signup"   />
          <label for="login" class="slide login" (click)="changeRoute('/auth/login')">
              Login
          </label>
          <label for="signup" class="slide signup"  (click)="changeRoute('/auth/register')">
              register
          </label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
                  <router-outlet></router-outlet>
        </div>
      </div>
</div>
</div>