<header class="header">
    <a class="brand" routerLink="">User Manager</a>
    
      <nav class="nav">
              
              <a class="nav-link" routerLinkActive="active" routerLink="login">Demo APIs</a>
              <a class="nav-link" routerLinkActive="active" routerLink="management">Management Area</a>
              <div class="user">
                <a class="" href="">name</a>
                <button
                class="btn btn-red"
                type="button"
                *ngIf="authService.user$ | async as user"
                (click)="logout()"
              >
                Logout
              </button>
              </div>
      </nav>
</header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>